<footer class="page-footer font-small bg-light pt-4 mt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6">
        <p>&copy; 2023 HYAI-EC</p>
      </div>
      <div class="col-md-6">
        <ul class="list-unstyled d-flex justify-content-end">
          <li class="mx-2"><a href="#">Link 1</a></li>
          <li class="mx-2"><a href="#">Link 2</a></li>
          <li class="mx-2"><a href="#">Link </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
