{% extends 'index.html' %}

{% block content %}
<h2 class="text-center">Products</h2>
<table class="table">
  <thead>
    <tr>
      <th>Product name</th>
      <th>Price</th>
      <th>Image</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for product in products %}
    <tr>
      <td>{{ product.name }}</td>
      <td>{{ product.price }}</td>
      <td><img src="{{ product.image.url }}" alt="{{ product.name }}" class="img-thumbnail"></td>
      <td><a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Details</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
